<?xml version="1.0" encoding="utf-8"?>
	<!--
		Copyright (C) 2009 Felix Bechstein
	-->
	<!--
		This file is part of TravelLog. This program is free software; you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation; either
		version 3 of the License, or (at your option) any later version.
	-->
	<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
	-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.ub0r.android.travelLog" android:versionCode="52"
	android:versionName="0.5.2" android:installLocation="auto">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:configChanges="orientation" android:windowSoftInputMode="adjustResize"
		android:debuggable="true">
		<activity android:name="TravelLog" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="TravelLog$Preferences" />
		<activity android:name=".About" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTop" android:windowSoftInputMode="adjustResize" />
		<activity android:name="de.ub0r.android.lib.DonationHelper"
			android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize" />
		<receiver android:name="de.ub0r.android.lib.DonationReceiver">
			<intent-filter>
				<action android:name="de.ub0r.android.donator.REGISTERED" />
			</intent-filter>
		</receiver>
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14ae9c6fae6c50" />
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />
	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="7" />
	<supports-screens android:anyDensity="true" />
	<!-- AdMob SDK permissions -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
