<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2009-2012 Felix Bechstein -->
<!--
		This file is part of TravelLog. This program is free software; you can
		redistribute it and/or modify it under the terms of the GNU General
		Public License as published by the Free Software Foundation; either
		version 3 of the License, or (at your option) any later version.
-->
<!--
		This program is distributed in the hope that it will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General Public License for more details. You should have received a
		copy of the GNU General Public License along with this program; If
		not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.ub0r.android.travelLog"
          android:installLocation="auto"
          android:versionCode="7261000"
          android:versionName="2.6.1">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="18"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location"
            android:required="false"/>
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name">
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyDa3LXMuqUfPnyZ_Tlb75mI1Ulq-Mwc33E"/>
        <activity
                android:name=".ui.Logs"
                android:label="@string/app_name"
                android:theme="@style/Theme.SherlockUb0r"
                android:uiOptions="splitActionBarWhenNarrow"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.Preferences"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.Preferences11"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.PreferencesGoHome"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.LogTypes"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.Map"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.About"
                android:launchMode="singleTop"
                android:theme="@style/Theme.SherlockUb0r"
                android:windowSoftInputMode="adjustResize"/>

        <provider
                android:name=".data.DataProvider"
                android:authorities="de.ub0r.android.travelLog.provider"
                android:exported="false"/>

        <receiver android:name=".data.LocationChecker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <uses-library android:name="com.google.android.maps"/>
    </application>

</manifest>
